@media (min-width: 115vh) and (min-width: 48rem) {
  .item-contents ul:nth-of-type(1) > li,
  .item-contents ul:nth-of-type(2) > li {
    display: inline-block;
  }
  .item-contents ul:nth-of-type(1) > li:not(:last-child)::after,
  .item-contents ul:nth-of-type(2) > li:not(:last-child)::after {
    content: '|';
    margin-inline: 0.25em;
  }
  .item-contents ul:nth-of-type(1) > li::before,
  .item-contents ul:nth-of-type(2) > li::before {
    display: none;
  }
}

@media (max-width: 115vh), (max-width: 48rem) {
  /* Might as well use list-style and ::marker,
    but this receives more browser support */
  .item-contents ul:nth-of-type(1) > li {
    list-style: none;
  }
  .item-contents ul:nth-of-type(1) > li::before {
    content: '\1f31f   ';
    margin-inline: -1.75em 0.25em;
    font-family: 'Ayuu Little Icons — 221202a';
    color: hsl(28deg, 65%, 65%);
  }

  .item-contents ul:nth-of-type(1) > li,
  .item-contents ul:nth-of-type(2) > li {
    margin-block-end: 0.2em;
  }
}
