{{
  cats = render('categories.txt').cats
}}

html {
  font-size: clamp(100%, 75% + 0.5vw, 112.5%);
  line-height: 1.5;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: hsl(50deg, 100%, 99%); /* fallback */
  background: url(/bin/{{ hashverfile('background.svg') }}), hsl(50deg, 100%, 99%) center;
  color: #181410;
  transition: background ease 0.2s, color ease 0.2s;
}
body.dark {
  background: hsl(36deg, 80%, 7%); /* fallback */
  background: url(/bin/{{ hashverfile('background-dark.svg') }}), hsl(36deg, 80%, 7%) center;
  color: #fefbfa;
}
/* Image alt text */
img { color: #181410; }
body.dark img { color: #fefbfa; }

body {
  display: flex;
  flex-direction: column;
}
footer {
  flex: 1;
}

#main-grid {
  width: 100%;
  display: inline-block;
}
nav { width: 20%; }
main { width: 60%; }
aside { width: 20%; }
#main-grid, nav, main, aside {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
nav, main, aside, footer { padding: 1rem; }

nav > header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-block: 0.83em;
}
nav > header > a {
  text-decoration: none;
  color: inherit;
}

nav > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
nav > ul > li {
  flex: 1 0 2.25em;
}
nav > ul > li::before {
  display: none;
}
nav > ul > li span.little-icons {
  margin-inline-end: 0.125em;
}

#lang-container {
  position: relative;
  display: inline-block;
  margin-inline-end: 0.33em;
}
#lang-list {
  inline-size: 8.5em;
  white-space: nowrap;
  text-align: center;
  padding-block: 0.5rem;
  background: rgba(248, 246, 240, 97%);
  position: absolute;
  inset-block-start: 2rem;
  border-radius: 0.25em;
}
#lang-list p {
  margin-block: 0.1em 0.3em;
}
body.dark #lang-list {
  background: rgba(48, 40, 32, 97%);
}

summary {
  list-style: none;
}
summary::-webkit-details-marker {
  display: none;
}

aside {
  font-size: 0.9rem;
  padding-block-start: 4rem;
  position: relative;
}
#curcat-icon {
  position: absolute;
  inset-inline-end: 0.5rem;
  inset-block-start: 0.2rem;
  font-size: 3.5rem;
  transform: rotate(-9deg);
  user-select: none;
}
aside div[role='separator'] {
  margin-block: 1em;
  opacity: 60%;
}
#aside-date {
  margin-block: 1.5em 0.25em;
}
.table-of-contents { color: hsl(50deg, 5%, 30%); }
body.dark .table-of-contents { color: hsl(36deg, 5%, 70%); }
.table-of-contents p {
  margin-block: 0.5em;
}
.table-of-contents p.toc-level1 { margin-inline-start: 0; }
.table-of-contents p.toc-level2 { margin-inline-start: 1em; }
.table-of-contents p.toc-level3 { margin-inline-start: 2em; }
.table-of-contents a.hidden-pastel::after { background: hsl(50deg, 15%, 80%); }
body.dark .table-of-contents a.hidden-pastel::after { background: hsl(36deg, 9%, 50%); }
#related-links ul {
  padding-inline: 0;
}
#related-links ul li::before {
  display: none;
}
#related-links ul li {
  margin-block: 0.5em;
}

@media (max-width: 60rem) {
  #main-grid > nav {
    width: 23.8%; /* 5/21 */
  }
  #main-grid > main {
    width: 76.2%; /* 16/21 */
  }
  #main-grid > aside {
    width: 76.2%; /* 16/21 */
    margin-inline-start: 23.8%;
  }

  main {
    padding-block-end: 0;
  }
  aside {
    font-size: 1rem;
    padding-block: 0;
    position: unset;  /* For #curcat-icon */
  }
  #related-links ul li::before {
    display: inline-block;
    margin-inline-start: 0;
  }
  #aside-date, aside .table-of-contents,
  aside div[role='separator'] {
    display: none;
  }
  #curcat-icon {
    inset-block-start: 2.5rem;
    opacity: 30%;
    z-index: -10;
  }
}

@media (max-width: 115vh), (max-width: 48rem) {
  #main-grid > nav,
  #main-grid > main,
  #main-grid > aside {
    width: 100%;
    margin-inline-start: 0;
  }
  nav {
    padding-block: 0.5rem 0.25rem;
  }
  main {
    padding-block-start: 1.25rem;
  }
  nav > ul {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-block-end: 0;
    transition: box-shadow 0.2s ease;
  }
  nav > ul > li {
    flex: 1 0 auto;
    margin-block-end: 0.25em;
  }
  nav > ul > li:not(:last-child) {
    margin-inline-end: 1rem;
  }
  nav > ul.scroll-shadow-start {
    box-shadow: 1em 0 1em -1em inset rgba(174, 172, 170, 25%);
  }
  nav > ul.scroll-shadow-end {
    box-shadow: -1em 0 1em -1em inset rgba(174, 172, 170, 25%);
  }
  nav > ul.scroll-shadow-start.scroll-shadow-end {
    box-shadow: 1em 0 1em -1em inset rgba(174, 172, 170, 25%),
               -1em 0 1em -1em inset rgba(174, 172, 170, 25%);
  }
  #icon-buttons {
    position: absolute;
    inset-inline-end: 1rem;
    inset-block-start: 1rem;
  }
  #icon-buttons summary, #icon-buttons > a {
    font-size: 1.5rem;
  }
  #lang-list {
    inset-inline-end: 0;
  }
  #curcat-icon {
    inset-block-start: 10rem;
  }
}

.hidden-pastel {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.hidden-pastel::after {
  content: '';
  display: block;
  block-size: 0.12em;
  margin-block-start: -0.12em;
  margin-block-end: -0.12em;
  border-radius: 1em;
  background: hsl(0deg, 0%, 80%);
  /* Transitions with logical properties do not work on Safari 14 */
  transition:
    width 0.2s ease, height 0.2s ease,
    margin 0.2s ease;
}
.hidden-pastel::after {
  block-size: 0.08em;
  margin-block-start: -0.10em;
  margin-block-end: -0.07em;
  inline-size: 0;
  margin-inline-start: 50%;
}
.hidden-pastel:hover::after {
  inline-size: 100%;
  margin-inline-start: 0;
}

.pastel {
  text-decoration: none;
  color: inherit;
  /* url(<36x36 SVG>) 16 fill / 0.24em / 0.28em 0 */
  border-width: 0;
  border-image-repeat: stretch;
  border-image-slice: 16 fill;
  border-image-width: 0.24em;
  border-image-outset: 0.20em 0;
  transition: border-image 0.2s ease;
}
.pastel:not(.noexpand):hover,
.pastel:not(.noexpand):focus {
  border-image-width: 0.48em;
  border-image-outset: 0.32em 0;
}

html:lang(zh) .pastel {
  border-image-outset: 0.24em 0;
}
html:lang(zh) .pastel:not(.noexpand):hover,
html:lang(zh) .pastel:not(.noexpand):focus {
  border-image-outset: 0.36em 0;
}

{{
function underlinesvg(hue, sat, val, opacity)
  opacity = (opacity or 100) / 100
  return 'url(data:image/svg+xml;base64,' .. base64encode(string.format(
    [[<svg width="36" height="36" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg" background='white'><path style="fill:none;stroke:hsl(%.0f,%.0f%%,%.0f%%);stroke-width:9;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:%.2f" d="M 4.5,28.5 H 31.5" /></svg>]]
  , hue, sat, val, opacity)) .. ')'
end
}}
{{@ cat in cats}}
{{ hue, sat, val1, val2, sat2 = table.unpack(cat.tint) }}
{{ sat2 = sat2 or sat }}
a.{{cat.name}} {
  color: hsl({{hue}}deg, {{sat}}%, {{val1}}%);
  border-image-source: {{ underlinesvg(hue, sat2, val2) }};
}
body.dark a.{{cat.name}} {
  color: hsl({{hue}}deg, {{sat + (100 - sat) * 0.4}}%, {{100 - (100 - val1) * 0.45}}%);
  border-image-source: {{ underlinesvg(hue, sat + (100 - sat) * 0.4, 100 - (100 - val2) * 0.45, 40) }};
}
{{@ end}}
{{ hue, sat, val1, val2 = 240, 40, 50, 85 }}
a.external {
  color: hsl({{hue}}deg, {{sat}}%, {{val1}}%);
  border-image-source: {{ underlinesvg(hue, sat, val2, 90) }};
}
body.dark a.external {
  color: hsl({{hue}}deg, {{sat + (100 - sat) * 0.4}}%, {{100 - (100 - val1) * 0.35}}%);
  border-image-source: {{ underlinesvg(hue, sat + (100 - sat) * 0.4, 100 - (100 - val2) * 0.35, 40) }};
}
{{ hue, sat, val1, val2 = 0, 0, 40, 80 }}
.pastel.miscellaneous {
  color: hsl({{hue}}deg, 0%, {{val1}}%);
  border-image-source: {{ underlinesvg(hue, 0, val2, 90) }};
}
body.dark .pastel.miscellaneous {
  color: hsl({{hue}}deg, 0%, {{100 - (100 - val1) * 0.45}}%);
  border-image-source: {{ underlinesvg(hue, 0, 100 - (100 - val2) * 0.45, 40) }};
}

.pastel.hovernote {
  border-image-source: {{ underlinesvg(0, 0, 70, 20) }};
}

#lang-container > summary,
#dark-toggle {
  cursor: pointer;
  display: inline-block;
  line-height: 1.1;
}
body.ua-inline-height #lang-container > summary,
body.ua-inline-height #dark-toggle {
  line-height: 1.25;
}

footer > span:first-child {
  display: inline-block;
  margin-block-end: 0.075em;
  padding-inline-start: 1.75em;
  text-indent: -1.75em;
}
footer > span:first-child * {
  text-indent: 0;
}
footer > span:first-child > span.group {
  display: inline-block;
}
footer > span:first-child > span.group > *:not(:last-child)::after {
  content: '·';
  margin-inline: 0.5em;
}
footer > span:first-child > span.group:not(:first-child)::before {
  content: '|';
  margin-inline: 0.6em;
}
footer .little-icons {
  line-height: 1;
}
footer a.hidden-pastel.little-icons::after {
  margin-block-start: 0.02em;
}

main {
  position: relative;
}
main header h1 {
  margin-block: 0.83em;
}
#top-fleuron {
  background: no-repeat center 0 / contain url('/bin/{{ hashverfile('top-fleuron.svg') }}');
  inline-size: 100%;
  block-size: 6.75rem;  /* max-inline-size (72rem) * 960/90 */
  position: absolute;
  inset-block-start: -0.3em;
  inset-inline-start: 0;
  z-index: -1;
}
body.dark #top-fleuron { opacity: 45%; }

@media (max-width: 115vh), (max-width: 48rem) {
  #top-fleuron {
    inset-block-start: 0;
    block-size: 9.375vw;  /* 100vw * 90/960 */
    min-block-size: 3.375rem; /* max-inline-size (36rem) * 960/90 */
    background-size: cover;
  }
}

#bottom-fleuron {
  inline-size: 100%;
  block-size: 4.8em;
  margin-block-start: -4.8em;
  text-align: right;
  z-index: -1;
}
#bottom-fleuron > div {
  background: no-repeat 100% 0 / cover url('/bin/{{ hashverfile('puffs.svg') }}');
  block-size: 4.8em;
  inline-size: 100%;
  max-inline-size: 48em;
  position: absolute;
  inset-inline-end: 0;
}

@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/Livvic-Regular.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/Livvic-Regular.woff') }}) format('woff');
}
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/Livvic-SemiBold.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/Livvic-SemiBold.woff') }}) format('woff');
}
@font-face {
  font-family: 'Livvic — Lighter Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/Livvic-Regular.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/Livvic-Regular.woff') }}) format('woff');
}
@font-face {
  font-family: 'Livvic — Lighter Bold';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/Livvic-Medium.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/Livvic-Medium.woff') }}) format('woff');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/Sono_Monospace-Regular.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/Sono_Monospace-Regular.woff') }}) format('woff');
}
@font-face {
  font-family: 'Sono';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/Sono_Monospace-SemiBold.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/Sono_Monospace-SemiBold.woff') }}) format('woff');
}
@font-face {
  font-family: 'Open Sans — Greek';
  unicode-range: U+0370-U+03ff;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/bin/{{ hashverfile('fonts/OpenSans-Regular-Greek.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/OpenSans-Regular-Greek.woff') }}) format('woff');
}
@font-face {
  font-family: 'Ayuu Little Icons — 221202a';
  u
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(/bin/{{ hashverfile('fonts/little-icons.woff2') }}) format('woff2'),
       url(/bin/{{ hashverfile('fonts/little-icons.woff') }}) format('woff');
}
{{@ distbuild }}
{{ AaKaiSong_css }}
{{@ end }}
*[lang='lat'] { font-style: italic; }

pre, code, .tt {
  font-size: 0.9rem;
}
.little-icons {
  font-family: 'Ayuu Little Icons — 221202a';
}

sup {
  line-height: 0;
}
a.pastel.external > sup.little-icons {
  user-select: none;
  display: inline-block;
  position: relative;
  top: -0.1em;
}

a.date-term-link::after { background: rgb(216, 216, 216); }
.date-term {
  font-size: 0.9rem;
  color: rgb(112, 112, 112);
}
.date-term .date-bracket-start,
.date-term .date-bracket-end {
  font-size: 0.5rem;
  position: relative;
  inset-block-start: -0.15rem;
}
.date-term .date-bracket-start { margin-inline-end: 0.2em; }
.date-term .date-bracket-end { margin-inline-start: 0.04em; }
.date-term .date-term-single {
  display: inline-block;
}
.date-term .delim { padding-inline: 0.1em 0.2em; }
.date-term sup::after {
  font-family: 'Ayuu Little Icons — 221202a';
  line-height: 0;
  display: inline-block;
}
.date-term sup.season-1::after { content: '\1f340'; }
.date-term sup.season-2::after { content: '\1f338'; }
.date-term sup.season-3::after { content: '\1f333'; }
.date-term sup.season-4::after { content: '\2600'; }
.date-term sup.season-5::after { content: '\1f33e'; }
.date-term sup.season-6::after { content: '\1f343'; }
.date-term sup.season-7::after { content: '\2744'; }
.date-term sup.season-8::after { content: '\1f9ca'; }

body.dark a.date-term-link::after { background: rgb(128, 128, 128); }
body.dark .date-term { color: rgb(180, 180, 180); }

div[role='separator'] {
  block-size: 1.5em;
  margin-block: 1.5em;
  inline-size: calc(100% - 3em);
  margin-inline-start: 1.5em;
  background: no-repeat center 0 / auto 100% url('/bin/{{ hashverfile('divider-fleuron-heart.svg') }}');
  position: relative;
}
div[role='separator']::before, div[role='separator']::after {
  content: '';
  display: inline-block;
  block-size: 1.5em;
  inline-size: 1.5em;
  background: no-repeat 0 / contain url('/bin/{{ hashverfile('divider-end.svg') }}');
  position: absolute;
}
div[role='separator']::before { inset-inline-start: -1.5em; }
div[role='separator']::after { inset-inline-end: -1.5em; }
div[role='separator'].item-separator,
div[role='separator'].cloudy {
  background-image: url('/bin/{{ hashverfile('divider-fleuron-cloudy.svg') }}');
  background-repeat: repeat-x;
}
div[role='separator'].windy {
  background-image: url('/bin/{{ hashverfile('divider-fleuron-windy.svg') }}');
  background-repeat: repeat-x;
}

div.item-separator:nth-child(5n+1) { background-position-x: -4em; }
div.item-separator:nth-child(5n+2) { background-position-x: 4em; }
div.item-separator:nth-child(5n+3) { background-position-x: 0em; }
div.item-separator:nth-child(5n+4) { background-position-x: -8em; }
div.item-separator:nth-child(5n+5) { background-position-x: 8em; }

body.dark div[role='separator']
{ opacity: 60%; }

@media not (max-width: 60rem) {
  .hidden-in-widest {
    display: none;
  }
}

.kaomoji {
  display: inline-block;
  vertical-align: middle;
  height: 1em;
  line-height: 1;
}
.kaomoji > svg {
  block-size: 1em;
  inline-size: auto;
}
body.dark .kaomoji { filter: invert(); }

table.file-table {
  margin-block: 1em;
  margin-inline: 0;
  border-spacing: 1em 0.4em;
}
table.file-table > tbody {
  word-break: break-word;
}
table.file-table .file-table-name {
  margin-inline: 0.2em 0.33em;
  word-break: break-all;
}
@media (max-width: 115vh), (max-width: 48rem) {
  table.file-table {
    margin-block-start: -0.4em;
    border-spacing: 1em 0;
  }
  table.file-table tr > td { display: block; }
  table.file-table tr > td:first-child {
    margin-block: 0.5em 0;
    margin-inline: -0.7em -0.4em;
  }
}

ul {
  padding-inline-start: 3em;
  list-style: none;
}
ul > li::before {
  content: '–';
  margin-inline: -1.1em 1em;
  display: inline-block;
  float: left; /* inline-start */
  position: relative;
  inset-block-start: 0.075em;
}
html:lang(zh) ul > li::before {
  margin-inline: -1.25em 0.75em;
}
ul.compact {
  margin-block-start: -1em;
}

section h2 { font-size: 1.2rem; margin-block-end: 1.08rem; }
section h3 { font-size: 1.14rem; margin-block-end: 1rem; }
section h4 { font-size: 1.08rem; margin-block-end: 1rem; }
blockquote {
  margin-block: -0.1em;
  margin-inline: 1em;
  padding-block: 0.6em 0.675em;
  padding-inline: 1em;
}
blockquote .quote-main *:first-child { margin-block-start: 0; }
blockquote .quote-main *:last-child { margin-block-end: 0; }
blockquote + blockquote { margin-block-start: 0.4em; }
blockquote.note {
}
blockquote.quote .quote-main {
  position: relative;
}
blockquote.quote .quote-main, blockquote.quote .quote-main > p {
  text-indent: 2em;
}
blockquote.quote .quote-main::before,
blockquote.quote .quote-main::after {
  text-indent: 0;
  position: absolute;
  font-family: 'Livvic', sans-serif;
  font-size: 2em;
}
blockquote.quote .quote-main::before {
  content: '“';
  inset-block-start: -0.8rem;
  inset-inline-start: -0.6rem;
}
blockquote.quote .quote-main::after {
  content: '”';
  inset-block-end: -1.9rem;
  inset-inline-end: -0.6rem;
}
blockquote.quote .quote-by {
  margin-block-start: 0.75em;
  text-align: right;
}

.no-break {
  display: inline-block;
  white-space: nowrap;
}

a.music-track-link {
  color: inherit;
  text-decoration: inherit;
}
.music-track {
  display: flex;
  align-items: center;
}
.music-track .music-track-gap {
  flex: 0 0 0.5em;
}
.music-track img {
  inline-size: 4.75em;
  block-size: 4.75em;
  object-fit: cover;
}
.music-track .music-track-artist {
  display: inline-block;
  line-height: 1.1;
}
.music-track .orig-title {
  font-size: 0.75em;
  color: #886;
  display: block;
}

body img { transition: filter ease 0.2s; }
body.dark img { filter: grayscale(20%) brightness(95%); }
body.dark img.syncdark { filter: grayscale(20%) invert() brightness(95%) hue-rotate(180deg); }
body.dark img.syncdarkmild { filter: grayscale(20%) invert() contrast(75%) brightness(95%) hue-rotate(180deg); }

/* Styles for bannerlist.html */

.banner-list a.item-entry {
  color: inherit;
  text-decoration: inherit;
  margin-block: 1rem 1.5rem;
}
.banner-list a.item-entry header {
  font-weight: bold;
}
.banner-list .item-plainheader header {
  font-size: 1.2rem;
  margin-block: 1rem;
}
.banner-list .item-banner {
  height: 10rem;
  position: relative;
}
.banner-list .item-banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75em;
}
.banner-list .item-banner > header {
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 1rem;
  font-size: 1.5rem;
  margin: 0;
  padding-inline: 1.3rem 1.8rem;
  text-shadow: #fdfdfd 0.05em 0.05em;
  border-width: 0;
  border-image: url(/bin/{{ hashverfile('chalk-bg-w.png') }}) 18 fill / 0.3em / 0.1em 0;
}
.banner-list .item-peek {
  margin-inline: 1.3rem;
}
.banner-list .item-peek > p > span.date-container {
  float: right; /* inline-end */
  margin-inline-start: 2em;
  margin-block-start: 0.2em;
}
.banner-list .item-peek > .clear-float {
  clear: both;
  margin-block-start: -2em;
}
.banner-list .item-banner header {
  color: #181410;
}
.banner-list .item-banner header.item-title-dark {
  color: #fdfdfd;
  text-shadow: #181410 0.05em 0.05em;
  border-image: url(/bin/{{ hashverfile('chalk-bg-b.png') }}) 18 fill / 0.3em / 0.1em 0;
}
.banner-list > div.item-separator {
  margin-block: 1em 1.5em;
}

.banner-list.compact > header > p {
  text-indent: 2em;
  margin-block-end: 1.5em;
}
.banner-list.compact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}
.banner-list.compact > div.item-separator {
  grid-column: 1 / span 2;
  margin-block: -0.5em 0.5em;
  transform: rotate(5deg);
}
html[dir="rtl"] .banner-list.compact > div.item-separator {
  transform: rotate(-5deg);
}
.banner-list.compact > div.item-separator:nth-child(4n+2) {
  display: none;
}
.banner-list.compact > a.item-entry:nth-child(4n+3) {
  margin-block-start: 2em;
}
.banner-list.compact a.item-entry {
  margin-block: 0;
}

@media (max-width: 115vh), (max-width: 48rem) {
  .banner-list.compact {
    display: initial;
  }
  .banner-list.compact > a.item-entry:nth-child(4n+3) {
    margin-block-start: unset;
  }
  .banner-list.compact > div.item-separator {
    transform: unset;
    margin-block: 0.5em;
  }
  .banner-list.compact > div.item-separator:nth-child(4n+2) {
    display: block;
  }
  .banner-list.compact a.item-entry > section {
    display: grid;
  }
  .banner-list.compact a.item-entry:nth-child(4n+1) > section {
    grid-template-columns: 3fr 2fr;
  }
  .banner-list.compact a.item-entry:nth-child(4n+3) > section {
    grid-template-columns: 2fr 3fr;
  }
  a.item-entry:nth-child(4n+3) > section > .item-banner { grid-column: 2; }
  .banner-list.compact a.item-entry:nth-child(4n+3) > section > .item-peek { grid-column: 1; grid-row: 1; }
  .banner-list.compact .item-peek {
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .banner-list.compact a.item-entry:nth-child(4n+1) > section > .item-peek { margin-inline-end: 0.5em; }
  .banner-list.compact a.item-entry:nth-child(4n+3) > section > .item-peek { margin-inline-start: 0.5em; }
  .banner-list.compact .item-peek > p {
    display: flex;
    flex-direction: column;
    min-block-size: calc(100% - 2em); /* 100% - 2 * margin-block */
  }
  .banner-list.compact .item-peek > p > span.intro-text {
    flex-grow: 1;
  }
  .banner-list.compact .item-peek > p > span.date-container {
    float: unset;
    margin-inline: 0;
    margin-block-start: 0.5em;
    flex-grow: 0;
  }
  .banner-list.compact a.item-entry:nth-child(4n+1) span.date-container { text-align: end; }
  .banner-list.compact a.item-entry:nth-child(4n+3) span.date-container { text-align: start; }
}

/* Styles for item.html */

.item-content p {
  text-indent: 2em;
}
.item-content > p *,
.item-content blockquote.note p,
.item-content blockquote p *,
.item-content div.image-container p {
  text-indent: 0;
}
.item-content p > span.br-indent {
  /* Should be supported by text-indent: each-line,
    but compatibility is very limited as of early 2023 */
  margin-inline-start: 2em;
}
.item-content li p > span.br-indent {
  margin-inline-start: 0;
}
.item-content > p.text-center {
  text-align: center;
  text-indent: 0;
}
div.image-container {
  text-align: center;
  margin-block: 1.5em;
  line-height: 1;
}
img.item-banner, .item-content img {
  object-fit: contain;
  display: inline-block;
}
img.item-banner,
.item-content div.image-container img:not(.vertical) {
  max-block-size: 20em;
}
img.item-banner,
.item-content div.image-container img:not(.orig-size) {
  inline-size: 20em;
  min-inline-size: 80%;
  max-inline-size: 100%;
  block-size: auto;
}
.item-content div.image-container img.vertical {
  inline-size: 100%;
  min-inline-size: unset;
  max-inline-size: 20em;
}
.item-content div.image-container img.medsmall {
  inline-size: 75%;
  min-inline-size: unset;
  max-inline-size: 17.5em;
}
.item-content div.image-container img.small {
  inline-size: 50%;
  min-inline-size: unset;
  max-inline-size: 15em;
}
.item-content div.image-container img.xsmall {
  inline-size: 8em;
  min-inline-size: 25%;
  max-inline-size: 100%;
}
.item-content div.image-container img.xsmall.vertical {
  inline-size: auto;
  block-size: 8em;
}
.item-content div.image-container img.square {
  inline-size: 25em;
  max-block-size: 25em;
}
.item-content div.image-container img.orig-size {
  max-inline-size: min(max(80%, 20em), 100%); /* clamp() */
  block-size: auto;
}
.item-content div.image-container p {
  margin-block: 0.25em -0.5em;
  line-height: 1.5;
}
.item-date {
  margin-block-start: 1em;
}
@media (max-width: 115vh), (max-width: 48rem) {
  img.item-banner, .item-content div.image-container img {
    max-inline-size: 100%;
  }
}

.item-content div.table-container {
  text-align: center;
  margin-block: 1.5em;
  margin-inline: 0;
}
.item-content div.table-container table {
  min-inline-size: 75%;
  margin-inline: auto;
}
.item-content div.table-container table,
.item-content div.table-container th,
.item-content div.table-container td {
  border-block: 0.1em solid #60605c;
  border-collapse: collapse;
}
.item-content div.table-container th,
.item-content div.table-container table {
  border-block: 0.15em solid #60605c;
}

.item-content h2 a.date-term-link {
  margin-inline-start: 1em;
  float: right;
}
.item-content h2::after {
  content: '';
  display: block;
  clear: both;
}

.item-content pre {
  word-break: break-all;
  white-space: pre-wrap;
}
.item-content pre.code {
  width: 95%;
}
.item-content pre.code > span {
  text-indent: 5%;
  display: block;
  min-height: 1.5em;
}
.chroma .c
{ color: #58a; }
.chroma .k
{ color: #b63; }
.chroma .s, .chroma .s1
{ color: #852; }

.item-content span.katex {
  overflow-x: scroll;
  overflow-y: hidden;
}

.item-content .music-track {
  padding-inline: 2em;
}
.item-content > a.music-track-link {
  margin-block: 1em;
  display: block;
}

.item-content .chord-tab .chord-tab-row {
  margin-block: 0.5em;
}
.item-content .chord-tab .chord-tab-item {
  display: inline-block;
  margin-inline: 0 0.125em;
  margin-block: 0.25em;
  vertical-align: middle;
  border-left: 0.1em rgba(192, 180, 180, 12%) solid;
  padding-left: 0.125em;
}
.item-content .chord-tab .chord-tab-item.chord-tab-item-empty {
  border-left: none;
}
.item-content .chord-tab .chord-tab-item span {
  display: block;
  block-size: 1.5em;
}
.item-content .chord-tab div[role='separator'] {
  margin-block: 0.5em;
}

details.details-toc {
  display: none;
}
details.details-toc > summary {
  padding-block: 0.5em;
  margin-block: -0.5em;
  cursor: pointer;
}
details.details-toc > summary::before {
  content: '+';
  display: inline-block;
  inline-size: 1em;
}
details.details-toc[open] > summary::before {
  content: '-';
}
@media (max-width: 60rem) {
  details.details-toc { display: block; }
}
details.details-toc .table-of-contents {
  padding-inline-start: 2em;
}
