.item-content div.image-container img.float-end {
  inline-size: auto;
  min-inline-size: unset;
  max-inline-size: 40%;
  float: inline-end;
  margin-inline-start: 1em;
  margin-block-end: 0.25em;
}
@media (max-width: 115vh), (max-width: 48rem) {
  .item-content div.image-container img.float-end {
    inline-size: 20em;
    max-inline-size: 100%;
    float: none;
    margin-inline-start: inherit;
  }
}

.Tags-Image + div {
  margin-block-start: 0.75em;
  margin-block-end: 0;
  line-height: 0;
}
.Tags-Image + div + div {
  margin-block-start: -0.375em; /* Why? */
  line-height: 0;
  max-height: 0;
}
.Tags-Image + div + div img {
  margin-block-start: -100%;
}
