.music-table {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  align-items: center;
  width: 100%;
  max-width: 60em;
}
.music-table > div {
  padding: 0.25em 0.5em;
}
.music-table > div:nth-child(6n+5) div.music-track,
.music-table > div:nth-child(6n+6) div.music-track {
  flex-direction: row-reverse;
  text-align: end;
}
/* Fallback when automatic placement is not implemented */
.music-table > div:nth-child(1) { grid-row: 1; grid-column: 1; }
.music-table > div:nth-child(2) { grid-row: 1; grid-column: 2; }
.music-table > div:nth-child(3) { grid-row: 1; grid-column: 3; }
.music-table > div:nth-child(4) { grid-row: 2; grid-column: 1; }
.music-table > div:nth-child(5) { grid-row: 2; grid-column: 2; }
.music-table > div:nth-child(6) { grid-row: 2; grid-column: 3; }
.music-table > div:nth-child(7) { grid-row: 3; grid-column: 1; }
.music-table > div:nth-child(8) { grid-row: 3; grid-column: 2; }
.music-table > div:nth-child(9) { grid-row: 3; grid-column: 3; }
@media (max-width: 115vh), (max-width: 48rem) {
  .music-table {
    grid-template-columns: 1fr 4fr;
  }
  .music-table > div {
    padding-block: 0.125em;
    padding-inline: 0.25em;
  }
  .music-table > div:nth-child(6n+5) div.music-track,
  .music-table > div:nth-child(6n+6) div.music-track {
    flex-direction: row;
    text-align: start;
  }
  .music-table > div:nth-child(3n+1) {
    /* grid-row: span 2; */
    writing-mode: vertical-rl;
  }
  .music-table > div:nth-child(3n+3) div.music-track {
    flex-direction: row-reverse;
    text-align: end;
  }
  .music-table > div:nth-child(1) { grid-row: 1 / span 2; grid-column: 1; }
  .music-table > div:nth-child(2) { grid-row: 1; grid-column: 2; }
  .music-table > div:nth-child(3) { grid-row: 2; grid-column: 2; }
  .music-table > div:nth-child(4) { grid-row: 3 / span 2; grid-column: 1; }
  .music-table > div:nth-child(5) { grid-row: 3; grid-column: 2; }
  .music-table > div:nth-child(6) { grid-row: 4; grid-column: 2; }
  .music-table > div:nth-child(7) { grid-row: 5 / span 2; grid-column: 1; }
  .music-table > div:nth-child(8) { grid-row: 5; grid-column: 2; }
  .music-table > div:nth-child(9) { grid-row: 6; grid-column: 2; }
}
