.item-content span.dialogue + ul > li p {
  text-indent: 0;
}

.item-content span.dialogue.dialogue-G1 + ul > li:before,
.item-content span.dialogue.dialogue-B1 + ul > li:before {
  inset-inline-start: -0.5em;
}

.item-content span.dialogue.dialogue-alluser + ul > li::before,
.item-content span.dialogue.dialogue-ord + ul > li:nth-child(2n+1)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n)::before {
  /* no-op */
}
.item-content span.dialogue.dialogue-ord + ul > li:nth-child(2n)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n+1)::before {
  content: '·';
}

.item-content span.dialogue.dialogue-G1 + ul > li:nth-child(2n+1)::before,
.item-content span.dialogue.dialogue-B1 + ul > li:nth-child(2n)::before {
  content: '(G)';
}
.item-content span.dialogue.dialogue-G1 + ul > li:nth-child(2n)::before,
.item-content span.dialogue.dialogue-B1 + ul > li:nth-child(2n+1)::before {
  content: '(B)';
}
.item-content span.dialogue.dialogue-both + ul > li:nth-child(2n+1)::before {
  content: '①';
}
.item-content span.dialogue.dialogue-both + ul > li:nth-child(2n)::before {
  content: '②';
}
