.item-content span.dialogue + ul > li p {
  text-indent: 0;
}

.item-content span.dialogue:not(.dialogueboth) + ul > li:nth-child(2n+1)::before {
  /* no-op */
}
.item-content span.dialogue:not(.dialogueboth) + ul > li:nth-child(2n)::before {
  content: '·';
}

.item-content span.dialogue.dialogueboth + ul > li:nth-child(2n+1)::before {
  content: '①';
}
.item-content span.dialogue.dialogueboth + ul > li:nth-child(2n)::before {
  content: '②';
}
