.item-content span.dialogue + ul > li p {
  text-indent: 0;
}
.item-content span.dialogue + ul > li span.br-indent {
  margin: 0;
}

.item-content span.dialogue:not(.dialogue-rev) + ul > li:nth-child(2n+1)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n)::before {
  /* no-op */
}
.item-content span.dialogue:not(.dialogue-rev) + ul > li:nth-child(2n)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n+1)::before {
  content: '·';
}
