.item-content span.dialogue + ul > li + li {
  margin-block-start: 1em;
}

.item-content span.dialogue + ul > li:before {
  width: 0em;
  inset-block-start: 0;
  inset-inline-start: -0.5em;
}

.item-content span.dialogue:not(.dialogue-rev) + ul > li:nth-child(2n+1)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n)::before {
  /* no-op */
}
.item-content span.dialogue:not(.dialogue-rev) + ul > li:nth-child(2n)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n+1)::before {
  content: '・';
}
.item-content span.dialogue:not(.dialogue-rev) + ul > li:nth-child(2n):lang(en)::before,
.item-content span.dialogue.dialogue-rev + ul > li:nth-child(2n+1):lang(en)::before {
  content: '·';
}
